* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #333;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #007BFF;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

.nav-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width: 400px;
    margin: 40px auto;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contact-icons a {
    text-decoration: none;
    margin: 10px;
    font-size: 1.2em;
    color: #333;
    transition: color 0.3s ease;
}

.contact-icons a:hover {
    color: #007BFF;
}

.contact-icons i {
    margin-right: 5px;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content-section .text {
    flex: 1;
    padding-right: 20px;
}

.content-section .text h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.content-section .text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
}

.content-section .text p {
    margin-bottom: 15px;
    line-height: 1.8;
    text-align: justify;
}

.content-section .text ul {
    margin-top: 10px;
    padding-left: 20px;
}

.content-section .text ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    color: #333;
}

.content-section .image {
    flex: 0.8;
    text-align: center;
}

.content-section .image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .content-section {
        flex-direction: column;
    }

    .content-section .text {
        padding-right: 0;
        text-align: center;
    }

    .content-section .image {
        margin-top: 20px;
    }
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
}